@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-size: 16px;
    font-family: "Rubik";
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    transition: opacity 1s ease-in-out;
    background: linear-gradient(45deg, rgb(100, 197, 226), rgb(32, 8, 97));
}
body.fade-in{
    opacity: 1;
}
body.fade-out{
    opacity: 0;
}
.login-con{
    height: 50%;
    width: 30%;
    display: flex;  
    flex-direction: column;
    box-shadow: 10px  10px 10px rgb(0,0,0,0.6);
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(71, 167, 196, 0.25), rgba(18, 18, 102, 0.25));
    justify-content: center;
    align-items: center;
    transform: translateY(5%);
} 
h1{
    color:rgb(201, 132, 29);
    font-size: clamp(5px, 2vw, 40px);
    padding: 0;
    margin: 0;
}

.in-log{
    width: 90%;
    height: 4%;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px 10px;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #b4b4b4;
    direction: rtl;
}
.in-log::placeholder{
    font-family: 'Rubik', Courier New, Courier, monospace;
    color: rgb(4, 56, 34);
}
.btn-log{
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    padding: 1%;
    background-color: #979797;
    border: none;
    border-radius: 5px;
    font-family: 'Rubik', Courier New, Courier, monospace;
    outline: none;
    cursor: pointer;
    font-size: clamp(8px, 2vw, 20px);
    transition: all 0.2s ease-in-out;
}
.btn-log:hover{
    background-color: #777;
}
.sign-in{
    font-family: 'Rubik', Courier, monospace;
    font-size: clamp(8px, 2vw, 25px);
    margin-top: 3%;
    text-decoration: none;
    color: rgb(201, 132, 29);
}
#test-log-in{
    color: rgb(58, 18, 18);
    margin-top: 2%;
    font-size: 0.8rem;
}

@media (max-width: 950px){
    .login-con{
        width: 70%;
        height: 40vw;
    }
    h1{
        font-size: clamp(12px, 3vw, 25px);
    }
    .sign-in{
        height: 10%;
        font-size: 0.60rem;
    }
    .btn-log{
        width: 90%;
        height: 8%;
        font-size: 0.70rem;
    }
    .sign-in{
        font-size: 1rem;
    }
}

@media (max-width : 600px) {
    .login-con{
        width: 70%;
        height: 45vh;
    }
    .sign-in{
        height: 13%;
        font-size: 0.5rem;
    }
    .btn-log{
        width: 90%;
        height: 10%;
        font-size: 0.60rem;
    }
    .sign-in{
        font-size: 0.75rem;
    }
}