@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root{
    --purple-- : rgb(160, 126, 255);
    --purple--low-- : rgb(134, 91, 255);
}
body{
    background: linear-gradient(90deg,var(--purple--),var(--purple--low--));
    font-family: "Rubik", sans-serif;

}
.main-con{
    width: 700px;
    height: 500px;
    padding: 12px;
    border-radius: 12px ;
    background: linear-gradient(90deg,#888,#444);
    box-shadow: 4px 4pX 8px 2px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns:50% 0% 50%;
}
.pic-con{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.main-conteiner-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;


}
.swiper-container {
    width: 100%;
    height: 100%;
   
    
}

.swiper-slide {
    position: relative;
    text-align: center;
    background: #000;
    background-attachment: fixed;
    box-shadow: 0 4pX 8px rgba(0, 0, 0, 0.2);
    background-position: center;
    justify-content: center;
    align-items: center;
  
    border-radius: 12px;
    
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    background-attachment: fixed;
    background-position: center;

}
.inf-con{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 50px;
    }


.user-name-input{
    padding: 15px 4px;
    background-color: #333;
    border: none;
    width: 90.5%;
    direction: rtl;
    font-family: "Rubik", sans-serif;
    font-size: 1.2em;
    border-radius:6px ;
    outline: none;
    color: #777;
    
}
.user-lastname-input{
    margin-right: 4px;
}
.email-field,.password-field{
   padding: 15px 5px;
   width: 90.5%;
   margin-top: 10px;
   color: #777;
   background-color: #333;
   border: none;
   direction: rtl;
   font-family: "Rubik", sans-serif;
   font-size: 1.2em;
   border-radius:6px ;
   outline: none;
    
}
.email-field:hover,.password-field:hover,.user-lastname-input:hover,.user-name-input:focus,.creat-account:hover{
    background-color: #222;
    
}
.form-check{
    margin-top: 20px;
    margin-left: 65px
}
.creat-account{
    width: 93%;
    margin-top: 10px;
    padding: 14px;
    font-family: "Rubik", sans-serif;
    font-size: 1.2em;
    background-color: #333;
    color: #777;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


